<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Страница со списком всех людей</title>
</head>
<body>

<p>Страница со списком всех людей</p>

<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getFullName() + ', ' + person.getBirthday()}">People</a>
</div>

<br/>
<hr/>

<a th:href="@{/people/new}">
    <button type="submit" value="Редактировать">Добавить человека</button>
</a>

</body>
</html>