<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница человека</title>
</head>
<body>

<a th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</a>
<p th:if="${book}"></p>

<div th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.getFullName()}">Person Name</span>

    <form th:method="PATCH" th:action="@{/book/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>

<div th:if="${people}">
    <span>Эта книга свободна. Кому назначить ее?</span>
    <form th:method="PATCH" th:action="@{/book/{id}/assign(id=${book.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${book}" id="person" name="person.id">
            <option th:each="person : ${people}" th:value="${person.id}" th:text="${person.fullName}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</div>
<hr/>

<a th:href="@{/book/{id}/edit(id=${book.getId()})}">
    <button type="submit" value="Редактировать">Редактировать</button>
</a>

<form th:method="DELETE" th:action="@{/book/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>